# Demo mode
DEMO=1

# Disable web client, access app only through API (rest or primus) or CLI
NO_CLIENT=0

# Volume path for container data persistence
DATA_PATH=.data/

# Number of maximum simultaneous instances. Leave empty for no limit.
MAX_INSTANCES=10

# App JWT authentication secret
JWT_SECRET=

# CloudFlare email, also used to generate LetsEncrypt certificates
EMAIL=

# CloudFlare domain used to set subdomains to new instances
DOMAIN=

# CloudFlare Global API Key
CLOUDFLARE_SECRET_KEY=

# AWS Access Key ID
AWS_ACCESS_KEY_ID=

# AWS Secret Access Key
AWS_SECRET_ACCESS_KEY=
